* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header_container{
    vertical-align: middle;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 940px;
}

body {
    overflow-x: hidden;
}

header {
    height: 90vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 22vh;
    transform: skew(0deg, 7deg);
}

.background {
    background: rgba(23, 39, 85, 1);
}

.background_line {
    transform: skew(0deg, -7deg) translateY(-180px);
    background-color: rgba(239, 42, 130, 1);
    height: 92.5vh;
}

.logo {
    display: flex;
    flex-direction: row;
}

.top_menu {
    display: flex;
    margin-left: 5rem;
    justify-content: center;
    gap: 2.25rem;
}

.top_menu a {
    margin-top: 0.6rem;
    color: var(--text-secondary, #8794BA);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    height: min-content;
}

.navigator a {
    color: rgba(135, 148, 186, 1);
    text-decoration: none;
}

.navigator {
    display: flex;
    flex-direction: row;
}

.registration {
    display: inline-flex;
    align-items: center;
    gap: 36px;
    margin-left: 20rem;
}

#sign_up_btn {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(135, 148, 186, 1);
    border-radius: 4.25rem;
    border: 1px solid #465B95;
    padding: 0.62rem 3.31rem;
}

#sign_up_btn:hover {
    cursor: pointer;
}

.header_main {
    margin-top: 4.62rem;
    display: flex;
    flex-direction: row;
}

.header_left_side {
    width: 35rem;
    margin-top: 4.88rem;
}

.header_left_side h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.header_left_side p {
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1rem;
}

#try_free_btn {
    margin-top: 3rem;
    padding: 0.9rem 5rem;
    border-radius: 4.25rem;
    background: #EF2A82;
    color: rgba(255, 255, 255, 1);
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_right {
    position: absolute;
    right: -1rem;
}

#header_img{
    border-radius: 1.875rem;
    width: 100%;
    height: 75vh;
    padding-right: 0.8vw;
}

.main_content {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 940px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h1, main p {
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

#main_feature {
    color: var(--text-main, #172755);
    font-size: 2.5rem;
    font-weight: 700;
}

#main_feature_p {
    margin-top: 1.8rem;
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
}


.main_grid {
    margin-top: 5rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1.25rem;
}

.main_grid h1 {
    color: var(--text-main, #172755);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_grid p {
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.main_grid h1, .main_grid p {
    margin-top: 1rem;
}

.last_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    margin-top: 8.12rem;
}

.first_main, .second_main, .third_main {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.first_main_txt, .second_main_txt, .third_main_txt {
    width: 30rem;
}

.first_main p, .second_main p, .third_main p {
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.88rem;
}

.first_main h1, .second_main h1, .third_main h1 {
    color: var(--text-main, #172755);
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first_main_txt, .third_main_txt {
    margin-right: 6rem;
}

.second_main_txt {
    margin-left: 6rem;
}

.first_main img, .second_main img, .third_main img {
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
    padding: 3rem;
}

.second_main {
    flex-direction: row-reverse;
}

.pricing_plans_section {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
}

.pricing_plans_txt h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.pricing_plans_txt p {
    color: var(--text-secondary, #8794BA);
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.8rem;
}

.prices {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 5rem;
    justify-content: center;
}

.starter, .premium {
    border-radius: 1.875rem;
    background: #0F1F4B;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
}

.starter, .premium, .standard {
    padding: 4rem;
    text-align: center;
}

.standard {
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 18px 50px -15px #060F28;
}

.starter h1, .premium h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.standard h1{
    color: var(--text-main, #172755);
    text-align: center;
    font-family: Roboto;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.starter p, .premium p{
    color: var(--text-secondary, #8794BA);
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.standard p {
    color: var(--text-secondary, #8794BA);
    text-align: center; 
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

#dollar_span {
    text-align: center;
    font-family: Roboto;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.starter button, .premium button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(135, 148, 186, 1);
    border-radius: 4.25rem;
    border: 1px solid #465B95;
    padding: 0.9rem 5rem;
    border-radius: 4.25rem;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prices button {
    cursor: pointer;
}

.starter button, .premium button, .standard button {
    margin-top: 2.5rem;
}

.standard hr {
    border: 1px solid #D3D9E9;
}

.starter hr, .premium hr {
    border: 1px solid #2A407C;;
}

#prices_names {
    margin-bottom: 0.6rem;
}

#users_num {
    margin-bottom: 2rem;
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#per_month{
    color: var(--text-secondary, #8794BA);
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.prices hr {
    margin-bottom: 1.75rem;
}

.standard button {
    padding: 0.9rem 5rem;
    border-radius: 4.25rem;
    background: #EF2A82;
    color: rgba(255, 255, 255, 1);
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#last_hr {
    background-color: rgba(23, 39, 85, 1);
    border: 0.0625rem solid rgba(42, 64, 124, 1);
    margin-top: 9vh;
    width: 1200px;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vh;
}


.footer_content a {
    text-decoration: none;
    color: var(--text-secondary, #8794BA);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    vertical-align: middle;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 940px;
}

.footer_background {
    background-color: rgba(23, 39, 85, 1);
    height: 100%;
}




/* header {
    height: 90vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 22vh;
    transform: skew(0deg, 7deg);
}

.background {
    background: rgba(23, 39, 85, 1);
}

.background_line {
    transform: skew(0deg, -7deg) translateY(-180px);
    background-color: rgba(239, 42, 130, 1);
    height: 92.5vh;
} */

.footer_logo {
    text-align: left;
}

.footer_socials {
    text-align: right;
}

#twitter{
    margin: 0 2rem 0 2.5rem;
}

.footer_socials img:hover {
    cursor: pointer;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

#premium_price {
    color: #172755;
    font-family: Roboto;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#price_of_packet{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}